<!-- views/get-post-by-id.ejs -->
<%- include('../templates/header', {titulo: "Post por ID" }); %>
<body>
    <div class="container mt-5">
        <h1>Detalle del Post</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= post.content %></p>
                <% if (post.imageUrl) { %>
                    <img src="<%= post.imageUrl %>" alt="Imagen del Post" class="img-fluid">
                <% } %>
                <p class="card-text">Fecha de Creación: <%= new Date(post.createdAt).toLocaleDateString() %></p>
            </div>
        </div>
    </div>
</body>
</html>
