<!-- views/list-posts.ejs -->

<%- include('../templates/header', {titulo: "Todos los posts" }); %>
  < <div class="container mt-5">
    <div>
      <h1 class="display-2">Todos los posts</h1>
      <p>
        Acá esta el listado de posts
      </p>
      <div class="container-md mb-3">
        <a href="/post/create/"><button type="button" class="btn btn-outline-info">Crear publicacion</button></a>
      </div>
    </div>
    <div class="container-md mb-3">
        <div class="accordion accordion-flush" id="accordionFlushExample">
            
                  <% let cont=0 %>
                  <% posts.forEach(function(post) { %>
                      <% cont +=1 %>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse<%= cont %>" aria-expanded="false" aria-controls="flush-collapseOne">
                        <p><strong>Titutlo de Post: </strong> <%= post.title %></p>
                        
                      </button>
                    </h2>
                    <div id="flush-collapse<%= cont %>" class="accordion-collapse collapse"
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          <p><%= post.body %></p>                        
                          
                          <div class="container-sm">
                            <p><strong>Fecha de creacion: </strong> <%= post.createdAt %></p>                            
                          </div>
                          <div class="container-sm mt-5">
                              <a href="/posts/<%= post.id %>"><button type="button" class="btn btn-primary">Ver detalle</button></a>
                              <a href="/post/update/<%= post.id %>"><button type="button" class="btn btn-info">Actualizar post</button></a>
                              <a href="/post/delete/<%= post.id %>"><button type="button" class="btn btn-danger">Eliminar post</button></a>
                          </div>
                      </div>
      
                    </div>
                  </div>
                  <% }); %>
      
          </div>
    </div>
    

  </div>
  <%- include('../templates/footer'); %>
