<!-- views/update-post.ejs -->
<%- include('../templates/header', {titulo: "Actualizar Post" }); %>
<div class="container mt-5">
    <h1> Actualiza tu post</h1>
        <form action="/post/update/<%= post.id%>" method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Tutulo del post</label>
                <input type="text" class="form-control" id="titleInput" placeholder="Titulo del post" name="title"
                    value="<%= post.title %>">
            </div>

            <div class="mb-3">
                
                <label for="image_url" class="form-label">URL de la imagen</label>
                <input type="text" class="form-control" id="image_url" placeholder="https://www...."
                    name="image_url" value="<%= post.image_url %>">
            </div>

            <div class="mb-3">
                <h6>Contenido actual</h6>
                <p><%= post.body %></p>
            </div>

            <div class="mb-3">
                <label for="body" class="form-label">Escribe aqui la publicacion</label>
                <textarea class="form-control" id="bodyTextarea1" rows="10" name="body"></textarea>
                <p class="text-body-secondary"> </p>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar publicacion</button>

        </form>
        <%- include('../templates/footer'); %>